.container {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    align-items: center;
}

.deckName {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    max-width: 50vw; 
  }