/* Scrollbar */
.decks-liste-flexbox::-webkit-scrollbar, .deck-karten-flexbox::-webkit-scrollbar, .karte-bearbeiten-eingabe::-webkit-scrollbar, 
.decks-liste-flexbox::-webkit-scrollbar-corner, .deck-karten-flexbox::-webkit-scrollbar-corner, .karte-bearbeiten-eingabe::-webkit-scrollbar-corner
{
    width: 10px;
}

.decks-liste-flexbox::-webkit-scrollbar-thumb, .deck-karten-flexbox::-webkit-scrollbar-thumb, .karte-bearbeiten-eingabe::-webkit-scrollbar-thumb
{
    border-radius: 5px;
    
    background: #808080;
}

.decks-liste-flexbox::-webkit-scrollbar-thumb:hover, .deck-karten-flexbox::-webkit-scrollbar-thumb:hover, .karte-bearbeiten-eingabe::-webkit-scrollbar-thumb:hover
{
    cursor: pointer;

    background: #5f5f5f;
}

div.verwaltung-container {
    display: flex;
    justify-content: space-between;

    height: 90vh;

    padding: 25px;
}

/* Header für Deck-&Karteikartenliste */
div.deck-karten-header {
    display: flex;
    justify-content: space-between;

    padding: 20px;

    border-radius: 8px 8px 0 0;

    color: white;
    background-color: #3d8d36;
}

div.decks-liste-header {
    padding: 20px;

    border-radius: 8px 8px 0 0;

    background-color: #3d8d36;
}

/* Suchleisten */
input.decks-suchleiste {
    width: 100%;

    padding: 0.3em;

    border: 0;
    border-radius: 5px;
}

input.karten-suchleiste {
    width: 40%;

    padding: 0.3em;

    border: 0;
    border-radius: 5px;
}

/* Übergeordneter Container für die Karteikartendecks */
div.decks-liste-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 15%;

    border-radius: 10px;

    box-shadow: 0px 0px 20px gainsboro;
}

/* Karteikartendecks-Liste (flexbox) */
div.decks-liste-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: hidden scroll;

    padding: 5px 0 5px 10px;
}

/* Elemente der Karteikartendecks-Liste */
div.aktuelles-deck {
    background-color: lightblue !important;
}

div.decks-liste-flexbox > div {
    display: flex;
    justify-content: space-between;

    margin-block: 5px;
    padding-inline: 15px;
    padding-block: 25px;

    background-color: #dcdcdc;

    border-radius: 5px;

    font-size: larger;
}

div.decks-liste-flexbox > div:hover {
    cursor: pointer;

    background-color: lightblue;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Text in den Elementen der Karteikartendecks-Liste */
div.decks-liste-flexbox > div > div {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Erstes Element der Karteikartendeck-Liste (Immer das Hinzufügen-Element) */
div.decks-liste-flexbox > div:first-of-type {
    justify-content: center;
    background-color: #e2ffcf;
}

div.decks-liste-flexbox > div:first-of-type:hover {
    background-color: #bed8ad;
}

form.deck-hinzufuegen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
}

input.deck-hinzufuegen {
    border: 0;
    border-radius: 5px;

    width: inherit;

    margin-right: 5px;
    padding: 5px;
    
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Übergeordneter Container für die Karteikarten + Bearbeitungsfeld */
div.deck-karten-rahmen-container {
    display: flex;
    justify-content: space-between;

    width: 80%;
}

/* Übergeordneter Container für die Karteikarten */
div.deck-karten-liste-container {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    
    width: 70%;

    border-radius: 10px 10px 0 10px;
    box-shadow: 0px 0px 20px gainsboro;
}

/* Karteikartenliste (flexbox) */
div.deck-karten-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    overflow: hidden scroll;

    height: 100%;
    
    padding-inline: 20px 10px;
}

/* Zeile in der Karteikartentabelle */ 
tr.aktuelle-karte {
    background-color: #0049c1 !important;
}

div.deck-karten-flexbox > table > tbody > tr {
    display: inline-table;

    margin-block: 2px;
    padding: 5px;

    color: white;
    background-color: #007bff;

    border: 0;
    border-radius: 10px;
}

div.deck-karten-flexbox > table > tbody > tr:hover {
    cursor: pointer;
    
    background-color: #0049c1;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Erstes Element der Karteikartentabelle (Immer das Hinzufügen-Element) */
div.deck-karten-flexbox > table > tbody > tr:first-of-type {
    display: flex;
    justify-content: center;

    color: black;
    background-color: #e2ffcf;
}

div.deck-karten-flexbox > table > tbody > tr:first-of-type:hover {
    background-color: #bed8ad;
}

div.deck-karten-flexbox > table > tbody > tr:first-of-type > td {
    width: auto;
}

/* Spalten in der Karteikartentabelle mit Attributen der Karteikarte */
div.deck-karten-flexbox > table > tbody > tr > td {
    width: 50%;

    padding: 8px;

    overflow: hidden;
    overflow-wrap: anywhere;
}

/* Buttons fürs Entfernen/Hinzufügen/Umbenennen eines Decks/einer Karte */
button.deck-entfernen {
    position: sticky;
    right: 15px;

    margin-left: 5px;
}

button.deck-hinzufuegen, button.deck-entfernen, button.deck-umbenennen, button.karte-entfernen, button.karte-hinzufuegen-form-schliessen {
    aspect-ratio: 1 / 1;

    height: 22px;
    width: 22px;

    border: 0;
    border-radius: 2px;

    color: white;
    background-color: #007bff;
}

button.deck-entfernen:hover, button.karte-entfernen:hover, button.karte-hinzufuegen-form-schliessen:hover {
    cursor: pointer;
    background-color: red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.deck-hinzufuegen:enabled:hover {
    cursor: pointer;
    background-color: green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.deck-umbenennen:enabled:hover {
    cursor: pointer;
    background-color: #0049c1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.deck-hinzufuegen:disabled, button.deck-umbenennen:disabled {
    background-color: gainsboro;
}

/* Schaltfläche zum Bearbeiten des Karteikartendeck-Namens */
div.deck-umbenennen-container {
    align-content: center;

    width: 40%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

svg.deck-umbenennen:hover {
    cursor: pointer;
}

form.deck-umbenennen {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
}

input.deck-umbenennen {
    border: 0;
    border-radius: 5px;

    width: 100%;

    margin-right: 5px;
    padding: 5px;
    
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
}

input.deck-umbenennen::placeholder {
    color: #cecece;
}

button.deck-umbenennen > svg {
    display: block;
    margin: auto;
}

/* Übergeordneter Container fürs Bearbeitungsfeld einer Karteikarte */
div.karte-bearbeiten-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    width: 29%;

    margin-top: 25px;

    box-sizing: border-box;

    border-radius: 0 10px 10px 0;

    box-shadow: 0px 0px 20px gainsboro;
}

/* Header für Karteikarte-Bearbeiten */
div.karte-bearbeiten-header {
    padding: 8px;

    border-radius: 0 8px 0 0;

    color: white;
    background-color: #3d8d36;
}

/* Karteikartenattribute-Liste (flexbox) */
div.karte-bearbeiten-flexbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding-left : 10px;
    padding-bottom: 10px;

    overflow: hidden hidden;
}

/* Attribut-Element für eine Karteikarte */
div.karte-bearbeiten-flexbox > h4 {
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}

textarea.karte-bearbeiten-eingabe {
    margin-inline: 5px;
    padding: 5px;

    height: 4em;
    min-height: 2em;
    resize: vertical;

    border: 0;
    border-radius: 5px;
    
    background-color: gainsboro;
}