div.verwaltung-container {
    display: flex;
    justify-content: space-between;
    height: 85vh;
}

div.decks-liste-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    overflow: hidden scroll;

    padding: 5px 0 10px 10px;

    border: 2px solid gainsboro;
    border-radius: 10px;

    width: 15%;
}

div.decks-liste-container::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

div.decks-liste-container > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    margin-block: 5px;
    padding-inline: 15px;
    padding-block: 25px;

    background-color: #dcdcdc;

    border-radius: 20px;

    font-size: larger;
}

div.aktuelles-deck {
    background-color: lightblue !important;
}
/*
div.decks-liste-container > div:first-of-type {
    justify-content: center;
    background-color: #e2ffcf;
}*/

div.decks-liste-container > div:hover {
    cursor: pointer;

    background-color: lightblue;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div.deck-karten-rahmen-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 80%;
}

div.deck-karten-uebersicht-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    box-sizing: border-box;
    
    width: 100%;

    border: 2px solid gainsboro;
    border-radius: 10px 10px 0 10px;
}

div.deck-karten-uebersicht-container.bearbeiten-ausgeklappt {
    width: 60%;
}

div.deck-karten-suchleiste-container {
    display: flex;
    justify-content: space-between;

    padding: 20px;

    border-radius: 8px 8px 0 0;

    background-color: gainsboro;
}

div.deck-karten-suchleiste-container > input {
    position: relative;
    width: 40%;

    padding: 0.3em;

    border: 0;
    border-radius: 5px;
}

div.deck-karten-liste-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    overflow: hidden scroll;

    height: 100%;
    
    padding-inline: 20px 10px;
}

div.deck-karten-liste-container > table > tbody > tr {
    display: inline-table;

    margin-block: 2px;
    padding: 5px;

    background-color: #ff6347;

    border: 0;
    border-radius: 20px;
}

tr.aktuelle-karte {
    background-color: rgb(226, 71, 44) !important;
}

div.deck-karten-liste-container > table > tbody > tr:hover {
    cursor: pointer;
    
    background-color: rgb(226, 71, 44);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Erstes Element der Karteikartenliste (Hinzufügen-Element) */
div.deck-karten-liste-container > table > tbody > tr:first-of-type {
    background-color: #e2ffcf;
}

div.deck-karten-liste-container > table > tbody > tr:first-of-type:hover {
    background-color: #bed8ad;
}

/* Andere Elemente in der Tabelle, bspw. Titel, Rückseite */
div.deck-karten-liste-container > table > tbody > tr > td {
    width: 50%;

    padding: 8px;

    overflow: hidden;
    overflow-wrap: anywhere;
}

/* DEAKTIVIERT
input.deck-hinzufuegen, input.karte-hinzufuegen {
    border: 0;
    border-radius: 5px;

    width: 100%;

    padding: 2px;
    
    background-color: rgba(0, 0, 0, 0.05);
}

button.deck-hinzufuegen:hover, button.karte-hinzufuegen:hover {
    cursor: pointer;
    background-color: green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}*/

button.deck-entfernen {
    margin-left: 5px;
}

button.deck-entfernen, button.karte-entfernen {
    aspect-ratio: 1 / 1;

    border: 0;
    border-radius: 2px;
}

button.deck-entfernen:hover, button.karte-entfernen:hover {
    cursor: pointer;
    background-color: red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div.karte-bearbeiten-gruppe {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    opacity: 1;
    width: 40%;

    margin-top: 65px;
    padding: 8px;

    box-sizing: border-box;

    border: 2px solid gainsboro;
    border-radius: 0 10px 10px 0;
}

div.karte-bearbeiten-gruppe.verstecken {
    display: none;
    opacity: 0;
    width: 0;
}

div.karte-bearbeiten-gruppe > h4 {
    margin-block-end: 0.5em;
}

textarea.karte-bearbeiten-eingabe {
    margin-inline: 5px;
    padding: 5px;

    height: 4em;
    min-height: 2em;
    resize: vertical;

    border: 0;
    border-radius: 5px;
    
    background-color: gainsboro;
}

/* Scrollbar */
::-webkit-scrollbar, ::-webkit-scrollbar-corner {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

::-webkit-scrollbar:hover, ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}