div.verwaltung-rahmen {
    display: flex;
    justify-content: space-between;
    height: 85vh;
}

div.verwaltung-decks-liste {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;

    overflow: hidden scroll;

    padding: 5px 0 10px 10px;

    border: 2px solid gainsboro;
    border-radius: 10px;

    width: 15%;
}

div.verwaltung-decks-liste::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

div.verwaltung-decks-liste > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    margin-block: 5px;
    padding-inline: 15px;
    padding-block: 25px;

    background-color: #dcdcdc;

    border-radius: 20px;

    font-size: larger;
}

div.verwaltung-decks-liste > div.aktuelles-deck {
    background-color: lightblue;
}

div.verwaltung-decks-liste > div:first-of-type {
    justify-content: center;
    background-color: #e2ffcf;
}

div.verwaltung-decks-liste > div:hover {
    cursor: pointer;

    background-color: lightblue;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div.verwaltung-deck-karten-rahmen {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;

    width: 80%;
}

div.verwaltung-deck-karten-uebersicht {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    box-sizing: border-box;
    
    width: 100%;

    border: 2px solid gainsboro;
    border-radius: 10px;
}

div.verwaltung-deck-karten-uebersicht.bearbeiten-ausgeklappt {
    width: 60%;
}

div.verwaltung-deck-karten-suchleiste {
    display: flex;
    justify-content: space-between;

    padding: 20px;

    border-radius: 8px 8px 0 0;

    background-color: gainsboro;
}

div.verwaltung-deck-karten-suchleiste > input {
    position: relative;
    width: 40%;

    padding: 0.3em;

    border: 0;
    border-radius: 5px;
}

div.verwaltung-deck-karten-liste {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    overflow: hidden scroll;

    height: 100%;
    
    padding-inline: 20px 10px;
}

div.verwaltung-deck-karten-liste > table > tbody > tr {
    display: inline-table;

    margin-block: 2px;
    padding: 5px;

    background-color: #ff6347;

    border: 0;
    border-radius: 20px;
}

div.verwaltung-deck-karten-liste > table > tbody > tr.aktuelle-karte {
    background-color: rgb(226, 71, 44);
}

div.verwaltung-deck-karten-liste > table > tbody > tr:hover {
    cursor: pointer;
    
    background-color: rgb(226, 71, 44);

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Erstes Element der Karteikartenliste (Hinzufügen-Element) */
div.verwaltung-deck-karten-liste > table > tbody > tr:first-of-type {
    background-color: #e2ffcf;
}

div.verwaltung-deck-karten-liste > table > tbody > tr:first-of-type:hover {
    background-color: #bed8ad;
}

/* Andere Elemente in der Tabelle, bspw. Titel, Rückseite */
div.verwaltung-deck-karten-liste > table > tbody > tr > td {
    width: 50%;

    padding: 8px;

    overflow: hidden;
    overflow-wrap: anywhere;
}

/* Button zum Löschen einer Karte */
div.verwaltung-deck-karten-liste > table > tbody > tr > td:has(button) {
    width: 1%;

    white-space: nowrap;
}

input.verwaltung-deck-hinzufuegen, input.verwaltung-karte-hinzufuegen {
    border: 0;
    border-radius: 5px;

    width: 100%;

    padding: 2px;
    
    background-color: rgba(0, 0, 0, 0.05);
}

button.verwaltung-deck-hinzufuegen, button.verwaltung-deck-entfernen, button.verwaltung-karte-hinzufuegen, button.verwaltung-karte-entfernen {
    aspect-ratio: 1 / 1;

    border: 0;
    border-radius: 2px;
}

button.verwaltung-deck-entfernen {
    margin-left: 5px;
}

button.verwaltung-deck-hinzufuegen:hover, button.verwaltung-karte-hinzufuegen:hover {
    cursor: pointer;
    background-color: green;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button.verwaltung-deck-entfernen:hover, button.verwaltung-karte-entfernen:hover {
    cursor: pointer;
    background-color: red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div.verwaltung-karte-bearbeiten-rahmen {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    opacity: 1;
    width: 40%;

    margin-top: 40px;
    padding: 8px;

    box-sizing: border-box;

    border: 2px solid gainsboro;
    border-radius: 10px;
}

div.verwaltung-karte-bearbeiten-rahmen.verstecken {
    display: none;
    opacity: 0;
    width: 0;
}

div.verwaltung-karte-bearbeiten-rahmen > div > h4 {
    margin-block-end: 0.5em;
}

div.verwaltung-karte-bearbeiten-rahmen > div > div {
    padding-left: 5px;
}

button.verwaltung-karte-bearbeiten-attribut {
    aspect-ratio: 1 / 1;

    margin-inline: 5px;
    padding: 1px;

    border: 0;
    border-radius: 2px;
    
    background-color: transparent;
}

button.verwaltung-karte-bearbeiten-attribut:hover {
    cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}