.start-flex-container {
  height: calc(100vh - 61.6px);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f8f8f8;
}

.start-box-learning,
.start-box-motivation,
.start-box-import {
  box-sizing: border-box;
  height: 50%;
  width: 50%;
  padding: 2rem;
}

.start-box-learning {
  max-height: 100%;
  height: 100%;
}

@media (max-width: 800px) {

  .start-flex-container {
    height: initial;
    flex-wrap: nowrap;
  }

  .start-box-learning,
  .start-box-motivation,
  .start-box-import {
    box-sizing: content-box;
    max-height: 30rem;
    width: initial;
  }
}

.start-learning,
.start-motivation,
.start-import {
  box-sizing: border-box;
  max-height: inherit;
  height: 100%;
  width: 100%;
  /* border: 2px solid black; */
  padding: 2rem;
  border-radius: 1.5rem;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1)
}

.start-learning {
  padding: 0;
}

.start-import>h4 {
  display: inline-block;
  width: 100%;
  text-align: center;
}

.start-learning:hover,
.start-motivation:hover,
.start-import:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}