.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px; 
  }
  .button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:20px;
  }
  
.button {
    padding: 10px 20px;
    
    color: white;
    border: 2px solid black; 
    cursor: pointer;
  }
  .falsch:hover {
    background-color: rgb(228, 12, 59);
  }

  .schwer:hover {
    background-color: rgb(255, 184, 32);
  }

  .richtig:hover {
    background-color: rgb(44, 255, 76);
  }


  .falsch {
    background-color: red;
  }

  .schwer {
    background-color: darkorange;
  }

  .richtig {
    background-color: green;
  }