@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin: 5%;
  font-family: "Roboto", sans-serif;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin: 2%;
  gap: 1rem;
}

.button {
  background-color: #3d8d36;
  color: white;
  border: 2px solid black; 
  cursor: pointer;
  height: 15vh;
  width: 20vw;
  border-radius: 10px;
  font-size: 125%;
}

.button:hover {
  background-color: lightgreen;
}

.infoIcon {
  margin-left: 2rem; 
  font-size: 18px;
  color: black;
  position: relative;
}

.infoIcon:hover {
  color: black;
}

.tooltip {
  display: none; 
  position: absolute;
  left: 150%; 
  top: 50%;
  transform: translateY(-100%);
  background-color: lightgrey;
  color: black;
  padding: 1rem 1rem;
  border-radius: 10px;
  width: 30vw;
  border: 2px solid black;
}

.infoIcon:hover .tooltip {
  display: block; 
  text-align: left;
  color: black;
}
