.container {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px; 
  
}

.button {
  padding: 10px 20px;
  background-color: darkblue;
  color: white;
  border: 2px solid black; 
  cursor: pointer;
  height: 70px;
  width: 150px;
}

.button:hover {
  background-color: blue;
}

.infoIcon {
  margin-left: 20px; 
  font-size: 18px;
  color: darkblue;
  position: relative;
}

.tooltip {
  display: none; 
  position: absolute;
  left: 110%; 
  top: 50%;
  transform: translateY(-50%);
  background-color: lightgrey;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1; 
  width: 20rem;
}

.infoIcon:hover .tooltip {
  display: block; 
}
